
@{
    ViewBag.Title = "Index";

}

<body class="text-center">

    <main role="main">
        <!-- Envolve o resto da página em container, para centralizar todo o conteúdo. -->
        <div class="container marketing">
            <!-- Três colunas de texto, abaixo do carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="http://photos.demandstudios.com/getty/article/214/129/stk212420rke.jpg" alt="Generic placeholder image"  width="180" height="150">
                    <h2>Sindrome de Down</h2>
                    <p>Contrate uma pessoa com sindrome de Down, e faça diferença em seus negócios visando sempre a espectativa de crescimento e quebrando as barreiras da diferença social !</p>
                    <p><a class="btn btn-secondary" id="btn1" href="#" role="button">Depoimentos »</a></p>

                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="http://claudiozalaf.com.br/nsite/wp-content/uploads/2017/06/portadores-de-necessidades-especiais.jpg" alt="Generic placeholder image" width="180" height="150">
                    <h2>Cadeirantes</h2>
                    <h5><p>Se desafie !</h5>
                    Mude suas espectativas em relação a pessoas com deficiência fisicas e faça parte da evolução social e profissional destas pessoas, faça a diferença !</p>
                    <p><a class="btn btn-secondary" id="btn1" href="#" role="button">Depoimentos »</a></p>
                </div>

                <div class="col-lg-4">
                    <img class="rounded-circle" src="https://www.fisicom.com.br/fotosGerais/portador-especiais.jpg" alt="Generic placeholder image" width="180" height="150">
                    <h2>Outros</h2>
                    <p>O bom empregador, recebe qualquer tipo de pessoa em seu negócio, visando seus conhecimentos e personalidade através da área que vai exercer</p>
                    <p><a class="btn btn-secondary" id="btn1" href="#" role="button">Saiba mais »</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- COMEÇAM AS MENCIONADAS FEATUREZINHAS xD -->
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Vagas de emprego</h2><br />
                    <p class="lead">Aqui você encontra diversos vagas de emprego de várias áreas que atuam hoje no mercado.</p>
                    <p class="lead">Tais como: </p>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Administrativa</a>
                        <a href="#" class="list-group-item list-group-item-action">Tecnologia</a>
                        <a href="#" class="list-group-item list-group-item-action">Saúde</a>
                        <a href="#" class="list-group-item list-group-item-action">Recursos Humanos</a>
                        <a href="#" class="list-group-item list-group-item-action ">Outros</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 530px; height: 500px;" src="https://image.freepik.com/vetores-gratis/vetor-de-ilustracao-de-varias-carreiras-e-profissoes_53876-2756.jpg" data-holder-rendered="true">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Aêêê, moleque! <span class="text-muted">Tá legal ou não tá?</span></h2>
                    <p class="lead">Então vai ficar ainda melhor, com a estrutura do nossos serviços para facilitar você empregador e os que querem se tornar empregados !</p>
                    <p class="lead">Com a estrutura básica e de fácil acesso, nós desenvolvemos para você uma boa e rápida alternativa para se ingressar no meio corporativo. </p>
                    <p class="lead"><h2>o NÃO você já tem!</h2></p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"  style="width:350px; height:300px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkY7BPNp-OpxxCUAEBWX4V2cDXs0VdCkjD83I7ga_enhqX46Xd" data-holder-rendered="true">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">E, por último, essa aqui. <span class="text-muted">Xeque-mate!</span></h2>
                    <p class="lead">As vezes ficamos desmotivados por conta de nosso dia a dia, mas não se esqueça !</p>
                    <p class="lead"> <h1>NUNCA se esqueça de SEMPRE se lembrar que todos somos capazes de realizarmos o que quisermos !</h1></p>
                        
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 370px;" src="https://image.freepik.com/fotos-gratis/conceito-de-vencimento-ocasional-do-sucesso-da-equipe-do-adolescente-da-diversidade_53876-23003.jpg" data-holder-rendered="true">
                </div>
            </div>
            <hr class="featurette-divider">
            <!-- /FIM DAS FEATUREZINHAS *-* -->
        </div>
    </main>

</body>